* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    margin: auto;
}

.game {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.game__image {
    width: 300px;
}

.game__button {
    margin-top: 20px;
    margin-left: 200px;
    border: none;
    padding: 15px;
    background-color: #26A653;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.game__button:hover {
    background-color: #219449;
}

.game__button:active {
    transform: translateY(2px);
    background-color: #219449;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.game__word {
    position: absolute;
    bottom: 10px;
    left: 480px;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 3px;
}

.letters {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    width: 715px;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 3px;
}

.inativo {
    color: #313131;
    background-color: #dedede;
}

.ativo {
    cursor: pointer;
    color: #3F7EA6;
    background-color: #E1ECF4;
    border: 1px solid #78A4BF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.ativo:active {
    transform: translateY(2px);
}

.guess {
    display: flex;
    align-items: center;
    justify-content: center;
}

.guess__input {
    margin: auto 10px;
    width: 300px;
    height: 30px;
    border: 1px solid #b1b3b1;
    border-radius: 3px;
}

.guess__input:focus {
    outline: none;
}

.guess__button {
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #3F7EA6;
    background-color: #E1ECF4;
    border: 1px solid #78A4BF;
    border-radius: 3px;
    cursor: pointer;
}

.guess__button:hover,
.guess__button:active {
    background-color: #cad4db;
}

.red {
    color: red;
}

.green {
    color: green;
}